<div class="container">
    <div class="row seller-listing">
        <% if(messages != null){  %>
            <% for(var i=0; i<messages.length;i++) { %>
                <div class="col-sm-12">
                    <div class="message-card">
                        <div class="message-block">
                            <h4 class="message-title">
                                <a href="../listing/<%= messages[i].listing_id %>"><%= messages[i].address %>, <%= messages[i].city  %>, <%= messages[i].state %> <%= messages[i].zipcode %></a>
                                <br><%= messages[i].first_name %> <%= messages[i].last_name %> (Phone #: <%= messages[i].phone %>)
                            </h4>
                            <div class="message-text">
                                <%= messages[i].message %>
                            </div>
                        </div>
                        <div class="message-footer">
                            <small>Date Listed: <%= messages[i].sent_date %></small>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>
</div>