<div class="container site-section" id="featured">
    <h1>Featured Homes</h1>
    <div class="col-md-12">
        <div class="row">

			<!-- display 4 featured homes -->
			<% for(var i = 0; i < featuredListings.length; i++) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
					<a href="/listing/<%= featuredListings[i].listing_id %>" target="_self"> 
						<img src="<%= featuredListings[i].thumbnail %>" class="img-responsive house-img" alt="IMAGE N/A" />
					</a>
                    <div class="row house-text-details">
                        <div class="col-md-12">
							<p>$<%= featuredListings[i].price %></p>
                        </div>
                        <div class="col-md-12">
							<p><%= featuredListings[i].address %>, <%= featuredListings[i].state %> <%= featuredListings[i].zipcode %> </p>
                        </div>
                    </div>
                </div>
            </div>
			<% } %>
			<!-- end featured homes -->

        </div>
    </div>
</div>
