<!-- data variable is passed in from the search controller -->
 <% for(var i = 0; i < data.length; i++){ %>
 <div class = "col-sm-4 col-md-3 col-xs-6">
       <div class = "thumbnail">
           <a href = "listing/<%= data[i].listing_id %>">
          <img src = "<%= data[i].thumbnail %>" alt = "Image N/A">
       
               
         <div class ="caption">
         <ul class = "list-inline">
             <li class = "pr">$<%= data[i].price %></li>
             <li>
                 <ul class = "list-inline">
                     <li class = "details"><%= data[i].bedroom_count %> bd</li>
                     <li class = "details"><%= data[i].bathroom_count %> ba</li>
                 </ul>
             </li>
         </ul>
         
             <p> <%= data[i].address %>, <%= data[i].city %>, <%= data[i].state %></p>
             </div>
           </a>
<!--           <a href="#" class="btn btn-default" role="button">Contact</a>-->
          
           
       </div>
</div>
   
<% } %>