<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel = "stylesheet" href="../bootstrap/css/bootstrap.min.css" type = "text/css"> </link>
		<link rel="stylesheet" href="../stylesheets/main.css" type = "text/css">
	</head>

	<body>
	<%- include ../partials/disclaimer.ejs %>
	<%- include ../partials/navbar.ejs %>
	<div>
		<!-- Go back (resubmit search) -->
		<a onclick="javascript:history.back()" class="btn btn-primary">Back </a>
	</div>
        <%- include ../partials/searchbar.ejs %>
        <%- include ../partials/houseListingInfo.ejs %>
        <%- include ../partials/footer.ejs %>
	</body>
</html>
