<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel = "stylesheet" href = "bootstrap/css/bootstrap.min.css" type = "text/css"> </link>
		<link rel="stylesheet" href="stylesheets/main.css" type = "text/css">
	</head>

	<body>
		<div class="container text-center">

			<!-- display page header-->
			<div class="page-hearder">
				<h3 style ="text-align: center ; color: blue">SFSU Software Engineering Project, Fall 2017.  For Demonstration Only</h3>
			</div>

			
			<div class="row">
				<div class="col-sm-12">
					<h1 class="text-center">Software Engineering class SFSU<p>Fall 2017</p><p>Section 2</p><p>Team 5</p></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">

					<!-- Link to home page -->
					<a href="home"><button type="button" class="btn btn-primary">Home Page</button></a>

					<!-- Link to about page -->
					<a href="about"><button type="button" class="btn btn-primary">About Page</button></a>

					<!-- Search bar -->
					<form action="search" method="get">
						<input type="text" name="q"><br>
						<input type="submit" value="search">
					</form>
					<!-- end Search bar -->

				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">

					<!-- Display table of search results using ejs  -->
					<!-- data variable is passed in from the search controller -->
					<div class="table-responsive">
					<table class="table">
					<thead>
						<tr>
							<th>image</th>
							<th>address</th>
							<th>city</th>
							<th>state</th>
							<th>zip code</th>
							<th>price</th>
						</tr>
					</thead>
					<tbody>
					<% for(var i = 0; i < data.length; i++) { %>
						<tr>
							<td><img style="width: 50px; height: 50px; " alt="IMAGE N/A" src="<%= data[i].image %>"/></td>
							<td><%= data[i].address %></td>
							<td><%= data[i].city %></td>
							<td><%= data[i].state %></td>
							<td><%= data[i].zipcode %></td>
							<td><%= data[i].price %></td>
						</tr>
					<% } %>
					</tbody>
					</table>
					</div>
					<!-- end table -->

				</div>
			</div>
		</div>
	</body>
</html>
